In [51]:
import pandas as pd
import gmplot

In [5]:
Lat = pd.read_csv('data_Latitude_2018.csv')
print(Lat)

      Unnamed: 0          0          1
0              1  40.753242 -73.966620
1              2  40.784042 -73.956500
2              3  40.739780 -73.979520
3              4  40.855556 -73.929180
4              5  40.721920 -73.990040
...          ...        ...        ...
4454        4455  40.767185 -73.989970
4455        4456  40.839172 -73.943474
4456        4457  40.715120 -74.012590
4457        4458  40.760925 -73.967050
4458        4459  40.741528 -73.987530

[4459 rows x 3 columns]

In [6]:
Lat_19 = pd.read_csv('data_kmeans_Latitude_2018_19.csv')
print(Lat_19)

      Unnamed: 0          0          1
0              1  40.757362 -73.960680
1              2  40.798252 -73.952490
2              3  40.777973 -73.982160
3              4  40.847412 -73.933310
4              5  40.732346 -73.984950
...          ...        ...        ...
8174        8175  40.767185 -73.989970
8175        8176  40.839172 -73.943474
8176        8177  40.715120 -74.012590
8177        8178  40.760925 -73.967050
8178        8179  40.741528 -73.987530

[8179 rows x 3 columns]

In [37]:
Lat_bro = pd.read_csv('data_kmeans_Latitude_2018_bro.csv')
print(Lat_bro)

       Unnamed: 0          0          1
0               1  40.659447 -73.931200
1               2  40.668570 -73.920090
2               3  40.660053 -73.877740
3               4  40.655273 -73.931780
4               5  40.701660 -73.961464
...           ...        ...        ...
18438       18439  40.652640 -73.949776
18439       18440  40.638767 -73.928990
18440       18441  40.617287 -73.977860
18441       18442  40.674460 -73.952860
18442       18443  40.640163 -73.945530

[18443 rows x 3 columns]

In [18]:
Lat_queen = pd.read_csv('data_kmeans_Latitude_2018_queen.csv')
print(Lat_queen)

       Unnamed: 0          0          1
0               1  40.772987 -73.916400
1               2  40.719975 -73.865240
2               3  40.759075 -73.869850
3               4  40.689842 -73.850075
4               5  40.695210 -73.817180
...           ...        ...        ...
14561       14562  40.684180 -73.782980
14562       14563  40.717335 -73.825424
14563       14564  40.745850 -73.900826
14564       14565  40.680775 -73.763830
14565       14566  40.750134 -73.860770

[14566 rows x 3 columns]

In [27]:
Lat_queen_16 = pd.read_csv('data_kmeans_Latitude_2016_queen .csv')
print(Lat_queen_16)

       Unnamed: 0          0          1
0               1  40.772987 -73.916400
1               2  40.719975 -73.865240
2               3  40.759075 -73.869850
3               4  40.689842 -73.850075
4               5  40.695210 -73.817180
...           ...        ...        ...
21559       21560  40.726771 -73.895410
21560       21561  40.757472 -73.902787
21561       21562  40.706554 -73.794452
21562       21563  40.728902 -73.845158
21563       21564  40.673127 -73.743309

[21564 rows x 3 columns]

In [19]:
queen_la = Lat_queen['0'].tolist()
queen_lo = Lat_queen['1'].tolist()

In [23]:
queen_la_16 = Lat_queen_16['0'].tolist()
queen_lo_16 = Lat_queen_16['1'].tolist()

In [10]:
center = pd.read_csv('data_kmeans_center_2018.csv')
print(center)

    Unnamed: 0          0          1    2
0            1  40.720857 -73.998249  350
1            2  40.802229 -73.940066  325
2            3  40.817781 -73.946090  315
3            4  40.733970 -73.985512  281
4            5  40.759867 -73.968781  276
5            6  40.719051 -73.985865  261
6            7  40.749455 -73.974289  236
7            8  40.711129 -74.009662  226
8            9  40.842065 -73.938713  224
9           10  40.756591 -73.995696  218
10          11  40.757280 -73.984300  213
11          12  40.745156 -73.992289  213
12          13  40.768443 -73.959191  206
13          14  40.783298 -73.950645  204
14          15  40.745042 -73.982101  193
15          16  40.768534 -73.986038  178
16          17  40.782918 -73.977052  142
17          18  40.736553 -74.003290  141
18          19  40.799819 -73.961957  141

In [42]:
center_bro = pd.read_csv('data_kmeans_center_bro.csv')
print(center_bro)

    Unnamed: 0          0          1     2
0            1 -73.960949  40.639588  1605
1            2 -73.922635  40.652674  1268
2            3 -73.955064  40.604175  1261
3            4 -73.917671  40.673610  1227
4            5 -73.991194  40.617977  1162
5            6 -73.948015  40.660082  1082
6            7 -74.017363  40.630364  1071
7            8 -73.893781  40.665767  1054
8            9 -73.927633  40.623678   961
9           10 -73.948485  40.684565   849
10          11 -73.972154  40.680319   799
11          12 -73.900876  40.639604   787
12          13 -73.957904  40.708852   753
13          14 -73.873187  40.673228   742
14          15 -73.995916  40.659879   722
15          16 -73.939267  40.706526   708
16          17 -73.920665  40.695168   708
17          18 -73.976721  40.585554   699
18          19 -73.986822  40.690979   677
19          20 -73.948038  40.730740   308

In [25]:
center_queen = pd.read_csv('data_kmeans_center_queen.csv')
print(center_queen)

    Unnamed: 0          0          1     2
0            1  40.764723 -73.826329  1660
1            2  40.668247 -73.767696  1391
2            3  40.679611 -73.848080  1390
3            4  40.743849 -73.863829  1334
4            5  40.702692 -73.802142  1230
5            6  40.665879 -73.738492  1185
6            7  40.683168 -73.823233  1124
7            8  40.746087 -73.893868  1082
8            9  40.759903 -73.879190  1078
9           10  40.677941 -73.795973   925
10          11  40.693984 -73.747188   905
11          12  40.716309 -73.858556   888
12          13  40.747118 -73.940292   815
13          14  40.767188 -73.918260   810
14          15  40.704724 -73.778569   796
15          16  40.765341 -73.785974   774
16          17  40.716523 -73.824005   689
17          18  40.744978 -73.919521   660
18          19  40.702338 -73.897129   653
19          20  40.722422 -73.756483   647
20          21  40.734804 -73.800333   620
21          22  40.747547 -73.720043   593
22          23  40.717624 -73.734899   552
23          24  40.717850 -73.906534   543

In [31]:
queen_la = center_queen['0'].tolist()
queen_lo = center_queen['1'].tolist()
count_queen = center_queen['2'].tolist()

[-73.82632852478574,
 -73.76769604899633,
 -73.84807976936726,
 -73.86382923012596,
 -73.80214176417668,
 -73.73849225909593,
 -73.82323332261176,
 -73.89386797483749,
 -73.87918998381136,
 -73.79597304900491,
 -73.74718827002215,
 -73.85855558231292,
 -73.9402919493219,
 -73.91826001031059,
 -73.77856937906978,
 -73.78597436729322,
 -73.82400533818445,
 -73.91952144030299,
 -73.89712933847326,
 -73.75648284651852,
 -73.80033336104752,
 -73.72004261839861,
 -73.7348992854167,
 -73.90653363228782]

In [43]:
bro_la = center_bro['1'].tolist()
bro_lo = center_bro['0'].tolist()
count_bro = center_bro['2'].tolist()

In [13]:
latitude = Lat['0'].tolist()
longtitude = Lat['1'].tolist()

In [14]:
center_la = center['0'].tolist()
center_lo = center['1'].tolist()
count = center['2'].tolist()

In [15]:
la_19 = Lat['0'].tolist()
lo_19 = Lat['1'].tolist()

In [38]:
la_bor = Lat_bro['0'].tolist()
lo_bor = Lat_bro['1'].tolist()

In [52]:
#gmap = gmplot.GoogleMapPlotter.from_geocode("New York, United States") 
gmap = gmplot.GoogleMapPlotter(40.7, -73.85, 11.8)
gmap.apikey = "AIzaSyD0j5p7xAdLBGumr9OSN2GdM-F92Bh7LUA"
#gmap.plot(Lat, Long, 'cornflowerblue', edge_width=10)
for i in range(len(count)):
    gmap.scatter([center_la[i]], [center_lo[i]], '#222830', size=count[i]/1.5, marker=False)
for i in range(len(count_bro)):
    gmap.scatter([bro_la[i]], [bro_lo[i]], '#red', size=count_bro[i]/4, marker=False)
for i in range(len(count_queen)):
    gmap.scatter([queen_la[i]], [queen_lo[i]], '#2a5a75', size=count_queen[i]/4, marker=False)
#gmap.scatter(Latitude, Longtitude, 'k', marker=True)
gmap.heatmap(latitude, longtitude)#manhattan
gmap.heatmap(la_bor, lo_bor)
gmap.heatmap(queen_la_16, queen_lo_16)
#gmap.plot(Lat, Long, 'blue', edge_width=1)

gmap.draw("map5.html")